body
{
    display: flex;
    justify-content: center;
}
.conteiner
{
    align-items: center;
    width: 430px;
    background: blue;
    color: white;
    font-size: 15px;
    align-content: stretch;
}
*
{
    margin: 0;
}
