*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
div
{
  margin-top: 15px;
  font-size: 12px;
  color: white;
}
.container__GreenBlock
 {
    background: green;
    width: 390px;
    text-align: left;
  }
  .container__BlueBlock
   {
    background: blue;
    width: 480px;
    text-align: left;
    padding: 30px;
  }
