* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 14px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .flex .inline_block {
    margin: 20px;
    display: inline;
    background: aquamarine;
    width: 150px;
    height: 100px;
  }

  .clear {
    margin: 10px;
    background: bisque;
  }
